# random jupyter notebooks files
*.aux
*.log
*.gz
*.toc
# cache
**/__pycache__
**/.pytest_cache

# Jupyter autosave
**/.ipynb_checkpoints

# PyCharm project files
**/.idea


**/.breakpoints

# pip-21.3 now forces build-in-tree for local packages
# so these should be ignored.
AIIntroProject.egg-info/
build/

# ignore VSC CodeRunner temp
tempCodeRunnerFile.*